<html lang="ja">
<head>
  <title><%= recipeData.recipeName %></title>
  <script src="/js/lib/jquery-3.6.1.js"></script>
  <script src="/js/recipe/recipe-detail.js"></script>
  <link href="/css/recipe-detail.css" rel="stylesheet">
</head>
<body id="recipe_detail">
  <div class="fileName"></div>
  <header>
    <div class="dish_name">
      <%= recipeData.recipeName %>
    </div>
    <div class="genre">
      <% recipeData.genre.forEach(function (value) { %>
        <div><%= value %></div>
      <% }); %>
    </div>
    <div class="main_ingredients">
      <ol>
        <% recipeData.mainIngredients.forEach(function (value) { %>
          <li><%= value %></li>
        <% }); %>
      </ol>
    </div>
    <div class="whos"><%= recipeData.whos %></div>
  </header>
  
  <main>
    <div class="ingredients">
      <div class="title">材料（<%= recipeData.ingredientsQuantity %>）</div>
      <div class="list">
        <div class="ingredients_col">
          <% const oneRowNum = Math.ceil(recipeData.ingredients.length / 2); %>


          <% for (var i = 0; i <= oneRowNum ; i++) { %>
          <%   const ingredient = recipeData.ingredients[i]; %>
          <div><%= ingredient %></div>
          <% } %>
        </div>
        <div class="ingredients_col_unit">
          <% for (var i = 0; i <= oneRowNum ; i++) { %>
          <%   const quantity_ = recipeData.quantity[i]; %>
          <div><%= quantity_ %></div>
          <% } %>
        </div>
          
        <div class="ingredients_col">
          <% for (var i = oneRowNum + 1; i < recipeData.ingredients.length ; i++) { %>
          <%   const ingredient = recipeData.ingredients[i]; %>
          <div><%= ingredient %></div>
          <% } %>
        </div>
        <div class="ingredients_col_unit">
          <% for (var i = oneRowNum + 1; i < recipeData.quantity.length ; i++) { %>
          <%   const quantity_ = recipeData.quantity[i]; %>
          <div><%= quantity_ %></div>
          <% } %>
        </div>
      </div>
    </div>

    <div class="procedure">
      <div class="title">
        作り方
      </div>
      <div class="list">
        <ol>
          <% recipeData.procedure.forEach(function (value) { %>
            <li><%= value %></li>
          <% }); %>
        </ol>
      </div>
    </div>

    <div class="tips_memo">
      <div class="title">
        コツ・メモ
      </div>
      <div class="list">
        <ul>
          <% recipeData.tipsMemo.forEach(function (value) { %>
            <li><%= value %></li>
          <% }); %>
        </ul>
      </div>

    </div>

  </main>
</html>